.getStarted {
 text-align: center;
 padding: 50px 0 70px 0;
 background-color: #f1f1f1;
 background-image: url(https://assets.loseit.com/website/home/Pattern_50opacity_Long.svg);
 background-size: cover;
 background-position: center;
}